@charset "ISO-8859-1";
body {
	background-color: #D0D0D0;
}

.navbar {
    overflow: hidden;
    background-color: #DADAE0;
    font-family: Arial;
    border: 1px solid #54587F;
    margin: 20px;
}

.navbar a {
	position: relative;
    float: left;
    font-size: 16px;
    color: #54587F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:before {
	content: "";
	position: absolute;
	width: 80%;
	height: 2px;
	bottom: 10px;
	left: 10%;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before {
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}

.navbar a:hover {
	font-weight: bold;
}

.image {
	text-align: center;
}

img {
	width: 400px;
	height: 400px;
}

h1,
h2 {
	text-align: center;
	color: #54587F;
}
