@charset "ISO-8859-1";
section {
	background: url('../images/admin-background.jpg');
	width: 80%;
	height: auto;
	margin: 0 auto;
	color: white;
}

table {
	border-collapse: collapse;
	margin: 5% auto;
}

th, td {
	text-align: left;
   	border-bottom: 2px solid #ddd;
   	padding: 15px;
}

th {
	font-size: 20px;
}

h2 {
	text-align: center;
}

.chart-section {
	padding: 50px;
}

#placementChart {
	width: 70%;
	height: 500px;
	margin: auto;
}

@media only screen and (max-width: 800px) {
	section {
		width: 100%;
	}
	th, td {
		font-size: 16px;
	}
	
	th, td {
		padding: 5px;
	}

	#placementChart {
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	th, td {
		font-size: 12px;
	}
	
	th, td {
		padding: 5px;
	}

	#placementChart {
		height: 400px;
	}

	.chart-section {
		padding: 50px 10px;
	}
}
