@charset "ISO-8859-1";
.home-page-image {
	background: url('../images/home-page-background.jpg') no-repeat center;
	background-size: cover;
	height: 100vh;
	float: left;
	width: 65vw;
}

h2 {
	color: red;
}

.portal-icon-links {
	text-align: center;
	height: 100vh;
	float: left;
	width: 31.24vw;
	background: #30C2FF;
}

.college-icon {
	height: 120px;
	width: 120px;
}

.student-icon, .company-icon {
	height: 120px;
	width: 120px;
}

img {
	border-radius: 50%;
}

img:hover {
	border: 5px solid red;
}

@media only screen and (max-width: 800px) {
	.home-page-image {
		margin-top: 10px;
		width: 100vw;
		height: 400px;
		float: none;
	}

	.portal-icon-links {
		width: 100vw;
		height: 70vh;
	}

	.college-icon-section {
		width: 50%;
		float: left;
	}
}

@media only screen and (max-width: 565px) {
	.home-page-image {
		background-size: cover;
		height: 300px;
	}
}
