@charset "ISO-8859-1";
.college {
	height: 50vh;
	background: url('../images/college.jpg') no-repeat center;
}

.college a {
	color: white;
	left: 42%;
}

.company a {
	top: 55%;
	color: black;
	left: 30%;
}

.student a {
	left: 35%;
}

.company {
	width: 50%;
	height: 50vh;
	float: left;
	background: url('../images/company.jpg') no-repeat center;
	background-size: cover;
}

.student {
	width: 50%;
	height: 50vh;
	float: left;
	background: url('../images/student.jpg') no-repeat center;
	background-size: cover;
}

div {
	position: relative;
}

a {
	top: 48%;
	position: absolute;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
}

a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 500px) {
	.col-sm-12 {
		float: none;
		width: 90%;
		height: 40vh;
		margin: 10px auto;
	}
}
