@charset "ISO-8859-1";
table {
	margin: 5% auto;
}

td, th {
	padding: 15px;
}

form {
	text-align: center;
}

.error-message {
	color: white;
}

.right-align {
	text-align: right;
}

input {
	outline: none;
}
