@charset "ISO-8859-1";
body {
	background: url('../images/background.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
	color: green;
}

h1 {
	text-align: center;
}

form {
	padding: 50px;
}

.logo-side-icon {
	width: 300px;
	height: 300px;
	float: left;
	padding: 60px 0;
}

.login {
	border: 3px solid black;
	height: auto;
	min-height: 400px;
	width: 70%;
	margin: 50px auto;
  	background-color: #ffffff;
  	opacity: 0.6;
}

input {
	color: green;
	padding: 5px;
	outline: none;
	font-size: 20px;
	border: none;
	border-bottom: 3px dashed green;
}

input[type=text]:focus, input[type=password]:focus {
	border-bottom: 3px dashed orange;
    box-shadow-bottom: #719ECE;
}

label {
	color: green;
	font-size: 22px;
	font-weight: bold;
}

.login-button {
	font-weight: bold;
	font-size: 25px;
	border: none;
	border-radius: 12px;
	background: none;
}

.error-message {
	color: red;
}

.login-button:hover {
	cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
