@charset "ISO-8859-1";
.college-logo {
	width: 170px;
	height: 80px;
}

.college-image-section {
	float: left;
}

h1 {
	text-align: center;
	color: blue;
	font-size: 40px;
}

.header,
hr {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

hr {
	margin-top: 60px;
	background: blue;
	height: 2px;
}

a img {
	width: 20px;
	padding: 3px;
	float: right;
	height: 20px;
}

.icon-links {
	margin-right: 10%;
	position: relative;
	bottom: 30px;
}

@media only screen and (max-width: 800px) {
	.header,
	hr{
		width: 100%;
	}

	.college-logo {
		width: 120px;
		height: 50px;
	}
}

@media only screen and (max-width: 500px) {
	.college-image-section {
		float: none;
		text-align: center;	
	}

	.college-logo {
		width: 200px;
		height: 80px;
	}
	
	hr {
		margin-top: -3px;
	}
}
